@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter';
}

/* CSS do pinner do load */
.container-load {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000000000;
  background-color: rgba(0, 0, 0, 0.452);
}

.spinner {
  position: relative;
  width: 15.7px;
  height: 15.7px;
}

.spinner div {
  animation: spinner-4t3wzl 1.875s infinite backwards;
  background-color: rgb(24, 24, 27);
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.spinner div:nth-child(1) {
  animation-delay: 0.15s;
  background-color: rgba(24, 24, 27, 0.9);
}

.spinner div:nth-child(2) {
  animation-delay: 0.3s;
  background-color: rgba(24, 24, 27, 0.8);
}

.spinner div:nth-child(3) {
  animation-delay: 0.45s;
  background-color: rgba(24, 24, 27, 0.7);
}

.spinner div:nth-child(4) {
  animation-delay: 0.6s;
  background-color: rgba(24, 24, 27, 0.6);
}

.spinner div:nth-child(5) {
  animation-delay: 0.75s;
  background-color: rgba(24, 24, 27, 0.5);
}

@keyframes spinner-4t3wzl {
  0% {
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    transform: rotate(360deg) translateY(-200%);
  }
}